@use "@core/scss/base/mixins";


%nav {
  color: rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity));

  .nav-item-title {
    letter-spacing: 0.15px;
  }

  .nav-section-title {
    letter-spacing: 0.4px;
  }
}


%nav-link-active {
  background-color: rgb(var(--v-theme-primary));
  color: rgb(var(--v-theme-on-primary));

  @include mixins.elevation(3);
}

%nav-link {
  a {
    color: inherit;
  }
}
//done