@use "@core/scss/base/mixins";
@use "@configured-variables" as variables;
@use "vuetify/lib/styles/tools/states" as vuetifyStates;

%nav-header-action {
  font-size: 1.25rem;
}


%vertical-nav-item {
  margin-block: 0;
  margin-inline: variables.$vertical-nav-horizontal-spacing;
  padding-block: 0;
  padding-inline: variables.$vertical-nav-horizontal-padding;
  white-space: nowrap;
}


%vertical-nav-item-interactive {
  border-radius: 0.4rem;
  block-size: 2.75rem;

  
  margin-block-end: 0.375rem;
}



%vertical-nav-items-icon {
  flex-shrink: 0;
  font-size: variables.$vertical-nav-items-icon-size;
  margin-inline-end: variables.$vertical-nav-items-icon-margin-inline-end;
}


%vertical-nav-items-nested-icon {
  
  $vertical-nav-items-nested-icon-margin-inline: calc((variables.$vertical-nav-items-icon-size - variables.$vertical-nav-items-nested-icon-size) / 2);

  font-size: variables.$vertical-nav-items-nested-icon-size;
  margin-inline-end: $vertical-nav-items-nested-icon-margin-inline + variables.$vertical-nav-items-icon-margin-inline-end;
  margin-inline-start: $vertical-nav-items-nested-icon-margin-inline;
}

%vertical-nav-items-icon-after-2nd-level {
  visibility: hidden;
}


%vertical-nav-group-open-active {
  @include mixins.selected-states("&::before");
}


%vertical-nav-section-title {
  
  block-size: 1.5rem;
  color: rgba(var(--v-theme-on-surface), var(--v-disabled-opacity));
  font-size: 0.75rem;
  text-transform: uppercase;
}


%vertical-nav-item-badge {
  display: inline-block;
  border-radius: 1.5rem;
  font-size: 0.8em;
  font-weight: 500;
  line-height: 1;
  padding-block: 0.25em;
  padding-inline: 0.55em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}
//done