@use "vuetify/lib/styles/tools/elevation" as elevation;
@use "@configured-variables" as variables;

%default-layout-vertical-nav-floating-navbar-and-sticky-elevated-navbar-scrolled {
  
  @if variables.$layout-vertical-nav-navbar-is-contained {
    padding-inline: 1.5rem;

    @include elevation.elevation(4);
  }
}
//done