
%vertical-nav-group-active {
  --v-theme-overlay-multiplier: 2;

  color: rgb(var(--v-global-theme-primary));

  &:hover {
    --v-theme-overlay-multiplier: 4;
  }
}


%vertical-nav-item-interactive {
  border-radius: 0.375rem;
  margin-block-end: 0.125rem;
}


%vertical-nav-items-nested-icon {
  transition: transform 0.25s ease-in-out 0s;
}
//done