
.scrollable-content {
  &.v-navigation-drawer {
    .v-navigation-drawer__content {
      display: flex;
      overflow: hidden;
      flex-direction: column;
    }
  }
}


code {
  border-radius: 3px;
  color: rgb(var(--v-code-color));
  font-size: 90%;
  font-weight: 400;
  padding-block: 0.2em;
  padding-inline: 0.4em;
}
//done