@use "vuetify/lib/styles/tools/functions" as *;



@forward "@layouts/styles/variables" with (
  
  $layout-vertical-nav-z-index: 1004,
  $layout-overlay-z-index: 1003,
);
@use "@layouts/styles/variables" as *;



$navbar-high-emphasis-text: true !default;





$theme-colors-name: (
  "primary",
  "secondary",
  "error",
  "info",
  "success",
  "warning"
) !default;



$default-layout-with-vertical-nav-navbar-footer-roundness: 10px !default;


$vertical-nav-background-color-rgb: var(--v-theme-background) !default;
$vertical-nav-background-color: rgb(#{$vertical-nav-background-color-rgb}) !default;



$vertical-nav-horizontal-spacing: 1rem !default;
$vertical-nav-horizontal-padding: 0.75rem !default;


$vertical-nav-header-height: $layout-vertical-nav-navbar-height !default;
$vertical-nav-navbar-elevation: 3 !default;
$vertical-nav-navbar-style: "elevated" !default; 
$vertical-nav-floating-navbar-top: 1rem !default;


$vertical-nav-header-padding: 1rem $vertical-nav-horizontal-padding !default;
$vertical-nav-header-inline-spacing: $vertical-nav-horizontal-spacing !default;


$vertical-nav-header-logo-translate-x-when-vertical-nav-mini: -4px !default;


$vertical-nav-header-logo-title-spacing: 0.9rem !default;


$vertical-nav-section-title-mt: 1.5rem !default;


$vertical-nav-section-title-mb: 0.5rem !default;


$vertical-nav-items-icon-size: 1.5rem !default;
$vertical-nav-items-nested-icon-size: 0.9rem !default;
$vertical-nav-items-icon-margin-inline-end: 0.5rem !default;


$vertical-nav-nav-group-arrow-transition-duration: 0.15s !default;


$vertical-nav-nav-group-arrow-transition-timing-function: ease-in-out !default;




$horizontal-nav-padding: 0.6875rem !default;


$horizontal-nav-top-level-items-gap: 4px !default;


$horizontal-nav-items-icon-size: 1.5rem !default;
$horizontal-nav-third-level-icon-size: 0.9rem !default;
$horizontal-nav-items-icon-margin-inline-end: 0.625rem !default;



$horizontal-nav-popper-content-max-height: calc((var(--vh, 1vh) * 100) - 120px - 4rem) !default;


$horizontal-nav-popper-content-top: calc($horizontal-nav-padding + 0.375rem) !default;



$plugin-ps-thumb-y-dark: rgba(var(--v-theme-surface-variant), 0.35) !default;




$vuetify-reduce-default-compact-button-icon-size: true !default;



$font-sizes: () !default;
$font-sizes: map-deep-merge(
  (
    "xs": 0.75rem,
    "sm": 0.875rem,
    "base": 1rem,
    "lg": 1.125rem,
    "xl": 1.25rem,
    "2xl": 1.5rem,
    "3xl": 1.875rem,
    "4xl": 2.25rem,
    "5xl": 3rem,
    "6xl": 3.75rem,
    "7xl": 4.5rem,
    "8xl": 6rem,
    "9xl": 8rem
  ),
  $font-sizes
);


$font-line-height: () !default;
$font-line-height: map-deep-merge(
  (
    "xs": 1rem,
    "sm": 1.25rem,
    "base": 1.5rem,
    "lg": 1.75rem,
    "xl": 1.75rem,
    "2xl": 2rem,
    "3xl": 2.25rem,
    "4xl": 2.5rem,
    "5xl": 1,
    "6xl": 1,
    "7xl": 1,
    "8xl": 1,
    "9xl": 1
  ),
  $font-line-height
);


$gap: () !default;
$gap: map-deep-merge(
  (
    "0": 0,
    "1": 0.25rem,
    "2": 0.5rem,
    "3": 0.75rem,
    "4": 1rem,
    "5": 1.25rem,
    "6":1.5rem,
    "7": 1.75rem,
    "8": 2rem,
    "9": 2.25rem,
    "10": 2.5rem,
    "11": 2.75rem,
    "12": 3rem,
    "14": 3.5rem,
    "16": 4rem,
    "20": 5rem,
    "24": 6rem,
    "28": 7rem,
    "32": 8rem,
    "36": 9rem,
    "40": 10rem,
    "44": 11rem,
    "48": 12rem,
    "52": 13rem,
    "56": 14rem,
    "60": 15rem,
    "64": 16rem,
    "72": 18rem,
    "80": 20rem,
    "96": 24rem
  ),
  $gap
);
//done